.auth-block{
    display: block;
    width: 100%;
    max-width: 35rem;
    margin: auto;
    height: 100vh;
    margin-top: 10%;
}

.content{
    display: flex;
    height: 100vh;
}

.form-control-group{
    margin-bottom: 2rem;
}