nb-card-header{
    height: 2.95rem;
    position: relative;
}


.material-span{
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 600;
}
// .materialGroup clored css
.indigo{
    background-color: #EBF7FF;
    color: #0452C8;
}
.crimson{
    background-color: #EBFFF1;
    color: #119C2B;
}
.yellow{
    background-color: #FFFCC2;
    color: #835101;
}
.goldenrod{
    background-color: #FCF0FF;
    color: #7E10E5;
}
.maroon{
    background-color: #E4FCFC;
    color: #0D9676;
}
.orange{
    background-color: #ffdab9;
    color: #ffa500;
}
.black{
    background-color: #EEF0F2;
    color: #252C32;
}
.red{
    background-color: #FFEFEB;
    color: #CC0905;
}