<nb-card class="full">
    <nb-card-header>Filter</nb-card-header>
    <nb-card-body>
        <form>
            <div class="form-group">
                <input type="text" nbInput fullWidth placeholder="Material Name">
            </div>

            <div class="form-group">
                <input type="text" nbInput fullWidth placeholder="Item Number">
            </div>

            <div class="form-group">
                <input type="text" nbInput fullWidth placeholder="Material Group">
            </div>

            <div class="form-group">
                <input type="text" nbInput fullWidth placeholder="Brief Description">
            </div>

            <div class="form-group">
                <textarea type="text" nbInput fullWidth placeholder="Description" rows="3">
                    </textarea>
            </div>

            <div class="form-group">
                <input type="text" nbInput fullWidth placeholder="Granulation">
            </div>


            <div class="form-group">
                <input type="text" nbInput placeholder="Density ( t/m^3 )">
            </div>
        </form>
    </nb-card-body>

    <nb-card-footer>

        <div class="action">
            <button nbButton (click)="dismiss()">
                Back
            </button>

            <button nbButton status="primary">
                Apply Filter
            </button>
        </div>
    </nb-card-footer>

</nb-card>