<nb-card class="full" *ngIf="!loadLocation">
    <nb-card-header>
        {{data ?( 'COUNTERPARTYADDPAGE.edit' | translate) : ('COUNTERPARTYADDPAGE.add' | translate) }} {{
        'COUNTERPARTYADDPAGE.title' | translate}}
    </nb-card-header>
    <nb-card-body>

        <form [formGroup]="contactForm" (ngSubmit)="saveContactDetails()">
            <div class="form-group">
                <input type="text" nbInput fullWidth
                    [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[0].title" formControlName="name">
                <ng-container *ngIf="submitted || ( f.name.invalid && f.name.touched )">
                    <p class="caption status-danger" *ngIf="f.name.errors?.required">
                        {{('COUNTERPARTYADDPAGE.formFields' | translate)[0].error}}
                    </p>
                </ng-container>
            </div>

            <div class="form-group">
                <input type="text" nbInput fullWidth formControlName="breifDescription"
                    [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[1].title">
            </div>

            <div class="form-group">
                <nb-select style="min-width:250px" class="options" formControlName="keyCode" fullWidth
                    [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[2].title">
                    <nb-option *ngFor="let c of counterType" [value]="c.keyCode"> {{ c.title }}</nb-option>
                </nb-select>

                <ng-container *ngIf="submitted || ( f.keyCode.invalid && f.keyCode.touched )">
                    <p class="caption status-danger" *ngIf="f.keyCode.errors?.required">
                        {{('COUNTERPARTYADDPAGE.formFields' | translate)[2].error}}
                    </p>
                </ng-container>
            </div>

            <div *ngFor="let contact of c.controls; let i = index">
                <div class="contacts" [formGroup]="contact">
                    <div class="form-group">
                        <input type="text" nbInput fullWidth
                            [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[5].title"
                            formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="text" nbInput fullWidth
                            [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[6].title"
                            formControlName="email">
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" nbInput fullWidth
                            [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[7].title"
                            formControlName="mobile">
                    </div> -->
                    <div class="form-group">
                        <input type="text" nbInput fullWidth
                            [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[8].title"
                            formControlName="phone">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="custom-add">
                    <div>
                        <label for="">{{('COUNTERPARTYADDPAGE.formFields' | translate)[3].label}}</label> <br>
                        <nb-select multiple style="min-width:250px" class="options" formControlName="location"
                            [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[3].title">
                            <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option.name">
                                {{ option.name }}
                            </nb-option>
                        </nb-select>
                    </div>

                    <div class="add-form ">
                        <form [formGroup]="locationForm" (ngSubmit)="submitForm()">
                            <input type="text" nbInput formControlName="name"
                                [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[4].title">

                            <button type="submit" nbButton status="primary">
                                {{('COUNTERPARTYADDPAGE.formFields' | translate)[4].label}}
                            </button>
                        </form>
                    </div>
                </div>
            </div>


            <nb-accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        {{('COUNTERPARTYADDPAGE.formFields' | translate)[9].title}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <a  class="add_button" nbButton status="primary" size="small" (click)="addWeekItem()" style="cursor: pointer;">
                            {{ ('COUNTERPARTYADDPAGE.formFields' | translate)[13].title }}
                        </a >
                        <div *ngFor="let opTime of opt.controls; let i = index" style="margin-top: 10px;">
                            <div class="opentime" [formGroup]="opTime">
                                <div class="form-group">
                                    <nb-select class="options" formControlName="dayOfWeek" style="min-width:220px"
                                        [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[10].title">
                                        <nb-option *ngFor="let c of weeks" [value]="c.value"> {{ c.title }}</nb-option>
                                    </nb-select>
                                </div>
                                <div class="form-group">
                                    <nb-select class="options" formControlName="startTime" style="min-width:220px"
                                        [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[11].title">
                                        <nb-option *ngFor="let c of times" [value]="c.value"> {{ c.title }}</nb-option>
                                    </nb-select>
                                </div>
        
                                <div class="form-group">
                                    <nb-select class="options" formControlName="endTime" style="min-width:220px"
                                        [placeholder]="('COUNTERPARTYADDPAGE.formFields' | translate)[12].title">
                                        <nb-option *ngFor="let c of times" [value]="c.value"> {{ c.title }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>



        </form>
    </nb-card-body>

    <nb-card-footer>

        <div class="action">
            <button nbButton (click)="dismiss()">
                {{('COUNTERPARTYADDPAGE.action.back.title' | translate)}}
            </button>

            <button nbButton status="primary" (click)="saveContactDetails()" type="submit">
                {{('COUNTERPARTYADDPAGE.action.confirm.title' | translate)}}
            </button>
        </div>
    </nb-card-footer>

</nb-card>

<ng-template #loadLocationAdd>

</ng-template>