.no-anch {
    text-decoration: none !important;
    cursor: pointer;
}
.span-clc {
    min-width: 74px;
    height: 24px;
    padding: 5px 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.006em;

    &.trade,
    &.trade {
        color: #cc0905;
        background: #ffefeb;
    }

    &.disposal,
    &.entsorgung {
        color: #835101;
        background: #fffcc2;
    }

    &.freight,
    &.fracht {
        color: #0d9676;
        background: #e4fcfc;
    }
}
